.addReadingButton {
  width: calc(100% - 35px);
  max-width: 350px;
  height: 30px;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
}

.readingInput {
  width: 50px;
  height: 20px;
}

.dateInput {
  width: 250px;
  height: 20px;
}

.at {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: small;
}

.plus {
  margin-right: 17px;
  font-size: x-large;
}
