.menu {
  background-color: #222;
  height: 30px;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menuItem {
  border: 1px solid white;
  margin: 2px;
  width: 120px;
  height: 25px;
  padding-top: 3px;
  cursor: pointer;
}

.selected {
  box-shadow: inset 2px 2px rgb(168,168,168);
}
